/* FONTS */
@font-face {
  font-family: 'IRANSans';
  src: url('../../src/Font/IRANSansXFaNum-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
};

/* ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ELEMENTS */
body {
  font-family: "IRANSans"; /* main font */
}

header {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(3, 1fr);
  margin: 3%;
}

header div {
  font-size: xx-small;
  font-size: 1.5vw;
}

main {
  background-color: green;
}

h1 {
  font-size: 2vw;
}

/* ID */

/* CLASS */
.title-contaienr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.more-info-box {
  position: relative;
  top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2%;
}
.more-info-btn {
  font-size: 1.8vw;
  border-width: 1px;
  color: white;
}
.about-me-button {
  background-color: #4136D6;
  border-color: #4136D6;
}
.detailed-version-button {
  background-color: #232323;
  border-color: #232323;
}
/* TOOLS */
.button {
  /* style for all BUTTON */
  text-align: center;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.button:hover {
  background-color: rgb(58, 199, 255);
  color: black;
}

.arrow-right-larg {
  /* in span */
  margin-left: 3px;
}

.line-y-dotted {
  /* in division */
  width: 2vw;
  height: 75%;
  margin: 0;
  margin-bottom: 0.5vh;
  padding-top: 30px;
  background-image: radial-gradient(circle, #007bff 40%,transparent 60%);
  background-size: 4px 5px;
  background-repeat: repeat-y;
  background-position: center;
}

/* DARK MODE */

/* RESPONSIVE */
