/* FONTS */
@font-face {
  font-family: 'IRANSans';
  src: url('../../src/Font/IRANSansXFaNum-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
};

/* ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ELEMENTS */
body {
  font-family: "IRANSans"; /* main font */
  font-size: 1.5vw;
}

header {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(3, 1fr);
  margin: 3%;
}

main, footer{
  margin: 3%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2vw;
}

h2 {
  font-size: 1.7vw;
  font-weight: 500;
}

/* SECTIONS styles*/
section {
  padding: 2vw 0;
}

.section1_html-css-javascript , .section3_npm-React-Tailwind, .section4_vitest{
  grid-template-rows: max-content;
  grid-template-columns: 2fr 1fr 2fr;
}

.section2_Git-GitHub {
  margin: 2vw 0;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  justify-items: center;
}

/* ID */

/* CLASS */
.title-contaienr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
header .more-info-box {
  position: relative;
  top: 1vh;
}

.more-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 4px;
  padding: 2%;
  font-size: 1.7vw;
}
.more-info-btn {
  border-width: 1px;
  color: white;
}
.about-me-button {
  background-color: #4136D6;
  border-color: #4136D6;
}
.detailed-version-button {
  background-color: #232323;
  border-color: #232323;
}

.advice {
  width: 49%;
  text-align: center;
  margin: 3vw 0 6vw 0;
}
.continue-learning {
  text-align: center;
  width: 40%;
}
/* TOOLS */

.arrow-right-larg {
  /* in span */
  margin-left: 3px;
}

/* DARK MODE */

/* RESPONSIVE */
