/* ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* ELEMENTS */

body {
  font-family: "IRANSans"; /* main font */
  font-size: 1.5vw;
}
nav {
  z-index: 2;
  border-radius: 0 0 4px 4px;
}
h1 {
  font-size: 2vw;
}

h2 {
  font-size: 1.7vw;
  font-weight: 500;
}

a {
  color: black;
}
a:visited {
  color: inherit !important;
}

@media (max-width: 500px) {
  body {
    font-size: 1.85vw;
  }
  nav {
    font-size: 3vw;
  }
  h1 {
    font-size: 3vw;
  }
  h2 {
    font-size: 1.87vw;
    font-weight: bold;
  }
}